h1 {
	font-size: 18px;
	text-align: center;
	color: black;
	border-bottom: 5px solid gray;
	background-color: darkgrey;
	font-family: Arial, Helvetica, sans-serif;
	
}

#dadosPessoais{
		font-size: 12px;
		color: black;
		margin-left: 35px;
		line-height: 1.0;
		font-family: Arial, sans-serif;
}

.foto {
	float: right;
	margin-right: 15%;
	max-width:110px;
    max-height:110px;
}

#escolaridade{
		font-size: 12px;
		color: black;	
		font-family: Arial, sans-serif;	
		line-height: 2.0;
}

#cursosExtracurriculares{
		font-size: 12px;
		color: black;	
		font-family: Arial, sans-serif;
		line-height: 2.0;
}

#experienciaProfissional{
		font-size: 12px;
		color: black;
		margin-left: 35px;
		line-height: 1.0;
		font-family: Arial, sans-serif;
}

#linkExterno{
		font-size: 12px;
		color: black;
		margin-left: 35px;
		line-height: 1.0;
		font-family: Arial, sans-serif;
}
